body {
  padding: 10px 10px;
  font-family: 'Noto Sans Japanese', "Hiragino Kaku Gothic Pro", meiryo, "Open Sans", sans-serif;
  counter-reset: section;
}

h1:before {
  counter-increment: section;
  content: counter(section) " ";
}

h1 {
  counter-reset: subsection;
}

h2:before {
  content: counter(section) "." counter(subsection) " ";
  counter-increment: subsection;
}

